- model_class = User.new.class
- if user_signed_in?
  - if current_user.username == nil
    %h1="Hello, " + current_user.email
  - else
    %h1="Hello, " + current_user.username
  %table.table.table-striped
    %thead
      %tr
        %th= "User"
        %th= model_class.human_attribute_name(:provider)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @users.each do |user|
        %tr
          - if user.username == nil
            %td= user.email
          - else
            %td= link_to user.username, user.url
          - if user.provider == nil
            %td= "none"
          -else
            %td= user.provider

          %td
            
            = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'
- else     
  %h1="Sign in to manage users"