!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Sign up app"
    = csrf_meta_tags
    
    = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/users") Home
          .container.nav-collapse
            %ul.nav
              - if user_signed_in?
                - if current_user.username == nil
                  %li= link_to "#{current_user.email}", "mailto:#{current_user.email}"
                - else
                  %li= link_to "#{current_user.username} (#{current_user.provider})", current_user.url
                %li= link_to "Sign out", destroy_user_session_path, :method => :delete
              - else
                %li= link_to "Sign in", href="/users/sign_in"
                %li= link_to "Sign up", href="/users/sign_up"
    .container
      .content
        .row
          .span9
            = yield
      %footer
    = javascript_include_tag "application"